<p id="notice"><%= notice %></p>

<div class="col-md-6 col-md-push-3 text-left">

  <p>
    <strong>Name:</strong>
    <%= @product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>Quantity on hand:</strong>
    <%= @product.quantity_on_hand %>
  </p>

  <p>
    <strong>Selling price:</strong>
    <%= @product.selling_price %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= @product.cost %>
  </p>

  <p>
    <strong>Shipping weight:</strong>
    <%= @product.shipping_weight %>
  </p>

  <p>
    <strong>Image thumbnail:</strong>
    <a href="<%= @product.image_thumbnail %>">
      <%= @product.image_thumbnail %>
    </a>
  </p>

  <p>
    <strong>Image full:</strong>
    <a href="<%= @product.image_full %>">
      <%= @product.image_full %>
    </a>
  </p>
  <%= link_to 'Edit', edit_product_path(@product), class:"btn btn-info" %> |
  <%= link_to 'Back', products_path, class:"btn btn-default" %> |
  <%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>

  <!-- New Review Form Here -->

  <%= form_for([@product, @product.product_reviews.build], :html => {:class => 'col-md-6 text-left'}) do |form| %>

    <%= form.hidden_field :product_id %>

    <div class="form-group">
      <%= form.label :author %>
      <%= form.text_field :author, class: 'form-control', id: :product_review_author %>
    </div>

    <div class="form-group">
      <%= form.label :review_text %>
      <%= form.text_area :comment, class: 'form-control', id: :product_review_comment %>
    </div>

    <div class="form-group">
      <%= form.label :rating %>
      <%= form.number_field :rating, class: 'form-control', id: :product_review_rating %>
    </div>

    <div class="form-group">
      <%= form.submit %>
    </div>

  <% end %>
</div>


