<!-- Boilerplate HTML
<h1>Page#contact_us</h1>
<p>Find me in app/views/page/contact_us.html.erb</p>
-->

<h1>Contact Us</h1>

<hr/>


<% if @error != '' %>
  <%= "<h2>#{@error}</h2>".html_safe %>
<% end %>

<!-- Debugging code, removed before production

<div>

  <%= "First Name: #{@first_name}" %><br/>
  <%= "Last Name: #{@last_name}" %><br/>
  <%= "Phone Numer: #{@phone_number}" %><br/>
  <%= "Question: #{@question}" %><br/>
  <%= "Newsletter: #{@newsletter}" %><br/>
  <%= "Gender: #{@gender}" %><br/>

</div>

-->

<%= form_tag "/page/contact_us", method: :get, class: 'text-left col-md-6 col-md-offset-3' do %>

  <div class="form-group">

    <%= label_tag 'first_name', 'Enter your first name:' %>
    <%= text_field_tag 'first_name', @first_name, class: 'form-control' %>

  </div>
  <div class="form-group">

    <%= label_tag 'last_name', 'Enter your last name:' %>
    <%= text_field_tag 'last_name', @last_name, class: 'form-control' %>

  </div>

  <div class="form-group">

    <%= label_tag 'phone_number', 'Phone number:' %>
    <%= phone_field_tag 'phone_number', @phone_number, class: 'form-control', pattern: '[0-9]*' %>

  </div>

  <div class="form-group">

    <%= label_tag 'question', 'Enter Your Question:' %>
    <%= text_area_tag 'question', @question, class: 'form-control' %>

  </div>

  <div class="form-group">

    <%= label_tag 'newsletter', 'Subscribed to our Newsletter:' %>
    <%= check_box_tag 'newsletter', 'subscribed', @subscribed %>

  </div>

  <div class="form-group">

    <%= label_tag 'gender_male', 'Male' %>
    <%= radio_button_tag 'gender', 'male', @gender == 'male' %>
    <%= label_tag 'gender_female', 'Female' %>
    <%= radio_button_tag 'gender', 'female', @gender == 'female' %>

  </div>

  <div class="form-group">

    <%= select_tag('restaurants', options_for_select(@restaurants, @selected_restaurant)) %>

  </div>

  <%= submit_tag 'Submit Question', class: 'btn btn-primary' %>

<% end %>


<!--
<form class="text-left">
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="tel">Phone number:</label>
    <input type="tel" class="form-control" id="tel">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
-->