<!-- Boilerplate  HTML
<h1>Page#products</h1>
<p>Find me in app/views/page/products.html.erb</p>
-->

<h1>Products</h1>

<hr/>

<table class="table table-responsive table-striped table-bordered text-left">
  <thead>
  <tr>
    <th class="col-sm-3">Fruit</th>
    <th class="col-sm-9">Color</th>
  </tr>
  </thead>
  <tbody>
  <% @products.each do |fruit, color| %>
    <tr>
      <td><%= fruit %></td>
      <td><%= color %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<hr/>

<section class="well-lg col-xs-12">
  <section class="col-xs-12 col-sm-6 text-left">
    <h3>Watermelon Wedge <small>$1.00</small></h3>
  </section>
  <section class="col-xs-12 col-sm-6">
    <%= image_tag "watermelon_wedge.jpg", class: "product-image img-fluid" %>
  </section>
</section>

<section class="well-lg col-xs-12">
  <section class="col-xs-12 col-sm-6 text-left">
    <h3>Watermelon <small>$4.00</small></h3>
  </section>
  <section class="col-xs-12 col-sm-6">
    <%= image_tag "watermelon.jpg", class: "product-image img-fluid" %>
  </section>
</section>

<section class="well-lg col-xs-12">
  <section class="col-xs-12 col-sm-6 text-left">
    <h3>Watermelons <small>$400.00</small></h3>
  </section>
  <section class="col-xs-12 col-sm-6">
    <%= image_tag "watermelons.jpg", class: "product-image img-fluid" %>
  </section>
</section>