<p id="notice"><%= notice %></p>

<h1>Restaurants - Page <%= @page %> of <%= @total %></h1>

<div class="col-xs-12">
  <%= paginate @restaurants %>
</div>

<table class="table text-left">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Location</th>
      <th>Cuisine</th>
      <th>Low price range</th>
      <th>High price range</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.id %></td>
        <td><%= restaurant.name %></td>
        <td><%= truncate restaurant.location, length: 14 %></td>
        <td><%= restaurant.cuisine %></td>
        <td><%= number_to_currency restaurant.low_price_range %></td>
        <td><%= number_to_currency restaurant.high_price_range %></td>
        <td><%= truncate restaurant.image, length: 20 %></td>
        <td><%= link_to 'Show', restaurant, class:"btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant), class:"btn btn-info" %></td>
        <td><%= link_to 'Destroy', restaurant, class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="col-xs-12">
  <%= paginate @restaurants %>
</div>

<br>

<%= link_to 'New Restaurant', new_restaurant_path, class:"btn btn-primary " %>
