<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "DS", {controller: "movies", action: "index"}, class: "navbar-brand" %> <!-- <a class="navbar-brand" href="/index.php">DS</a> -->
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <%= current_page?( controller: "movies", action: "index" ) ? "<li class='active'>".html_safe : "<li>".html_safe %><%= link_to "Movies", {controller: "movies", action:"index"} %> </li>
        <%= current_page?( controller: "page", action: "articles" ) ? "<li class='active'>".html_safe : "<li>".html_safe %><%= link_to "Articles", {controller: "page", action: "articles"} %> </li>
        <%= current_page?( controller: "page", action: "blog" ) ? "<li class='active'>".html_safe : "<li>".html_safe %><%= link_to "Blog", {controller: "page", action: "blog"} %> </li>
        <%= current_page?( controller: "page", action: "calendar" ) ? "<li class='active'>".html_safe : "<li>".html_safe %><%= link_to "Calendar", {controller: "page", action: "calendar"} %> </li>
        <%= current_page?( controller: "page", action: "contact_us" ) ? "<li class='active'>".html_safe : "<li>".html_safe %><%= link_to "Contact Us", {controller: "page", action: "contact_us"} %> </li>
        <%= current_page?( controller: "page", action: "login" ) ? "<li class='active'>".html_safe : "<li>".html_safe %><%= link_to "Login", {controller: "page", action: "login"} %> </li>
        <%= current_page?( controller: "page", action: "preferences" ) ? "<li class='active'>".html_safe : "<li>".html_safe %><%= link_to "Preferences", {controller: "page", action: "preferences"} %> </li>
        <%= current_page?( controller: "page", action: "products" ) ? "<li class='active'>".html_safe : "<li>".html_safe %><%= link_to "Products", {controller: "page", action: "products"} %> </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>